<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h1>Products</h1>
    </div>
    <div class="col-sm-2 text-right">
      <%= link_to "Nuevo Producto", new_product_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row justify-content-center">

  </div>

  <div class="row justify-content-center">
    <div class="col-sm-10">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <%= render "row", product: product %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-window"></div>
</div>
